

.time-span{
    width:650px;
    margin:10px 0 20px 90px;
    display: block;

    span{
      display: inline-block;
      vertical-align: middle;
      width: calc( 12.5% );
      text-align: center;
  }
}

.week-days{
    width:90px;
    display:inline-block;
    vertical-align: middle;

    span{
        height:50px;
        display: block;
        line-height: 50px;
        text-align: center;
    }
}

.time-slot{
    width:650px;
    vertical-align: middle;
    display: inline-block;

    .row{
        width:100%;
        overflow: hidden;

        .column{
          width: calc( 12.5% );
          height:50px;
          float:left;
          border-bottom:1px solid #E9E9E9;
          border-right:1px solid #E9E9E9;

          .slot{
            height:30px;
            width:55px;
            margin: 13px auto 12px auto;
            border:1px solid #EEEEEE;
            border-radius: 5px;
          }

        .dis-slot{
            height:30px;
            width:55px;
            margin: 13px auto 12px auto;
            border:1px solid #EEEEEE;
            border-radius: 5px;
            background-color: #F7F7F7;
        }

        .selected-slot{
            height:30px;
            width:55px;
            margin: 13px auto 12px auto;
            border:1px solid #EEEEEE;
            border-radius: 5px;
            background-color: #46BEFF;
        }
        
        .slot:hover{
            background-color: #46BEFF;
            cursor:pointer;
            -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
        }

      }    

    }

}

.t-footer{
    width:100%;
    overflow: hidden;
}


.notation{
    margin: 20px 40px 0 0;
    float: right;

}
.color-mark{
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;

    span{
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    margin-left: 10px;


    }

    div{
        height:24px;
        width:24px;
        border-radius: 5px;
        display: inline-block;
        vertical-align: middle;
    }

    .dis{
        background-color: #F7F7F7;
    }

    .sed{
        background-color: #46BEFF;
    }

}

    .resume-options{
        display: block;

        button{
            margin-left:10px!important;
            display: inline-block;
            vertical-align: middle;
        }
    }